.footer-container{
    display: flex;
    justify-content: space-evenly;
    line-height: 50px;
    background-color: black;
    color: white;
    border: 5px solid white;
    margin-top: 100px;
    flex-wrap: wrap;

}

.footer{
    height: auto;
}

span{
    color: orange;
}