*{
    padding: 0;
    margin: 0;
}

UL{ 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    width: 100%;
    color:orange; 
    background-color:black;
    flex-wrap: wrap;
}
 
 li{
    list-style-type: none;
    padding: 5px 10px;
    text-decoration: none;
    color: orange;
 }

 li link{
     color: orange;
 }

